.description {
    margin:100px auto;
    background:#167EFB;/*#16a085; /* Background de la div à définir */
    color:#F7F7F9;
    font-size:15px;
    padding:50px;
    font-family:Poppins;
    text-align: center;
}



.description-section-title {
    margin:0;
    padding-bottom:50px;
}
.description img {
    width:150px;
    margin:0 auto;
    display: block;
}

.person {
    transition:border 0.5s ease-out; 
    padding:20px;
    border:2px solid #167EFB;
    text-align: center;
    width:400px;
    display:inline-block;
}

.person:nth-child(3) {
    margin:0 2% 0 2%;
}

.person:hover {
    border:2px solid #F7F7F9;
}

.person:hover .competence-maquette {
     width:80%;
}

.person:hover .competence-programmation {
     width:70%;
}

.person:hover .competence-design {
     width:90%;
}

.person:nth-child(3):hover .competence-maquette {
    width:40%;
}

.person:nth-child(3):hover .competence-programmation {
    width:95%;
}

.person:nth-child(3):hover .competence-design {
    width:75%;
}

.competences-zone {
    display: block;
    margin: 20px auto;
    width:80%;
}

.competences-zone h4 {
    margin:0;
}

.competence-title {
    font-size:12px;
    padding-right: 20px;
    height:30px;
    line-height: 30px;
    display:inline-block;
    margin:0;
}

.competence {
    text-align: right;
    height: 30px;
    line-height: 30px;
    margin-top:15px;
    display:inline-block;
    width:100%;
}

.competence-barre {
    line-height:30px;
    display:inline-block;
    width:60%;
    float:right;
    border:1px solid #fff;
    height:30px;
}

.competence-maquette,
.competence-programmation,
.competence-design {
   transition:width 1s linear;
    height:30px;
    line-height: 30px;
    background-color:#fff;
}

.person .competence-maquette {
    width:0;
}

.person .competence-programmation {
    width:0;
}

.person .competence-design {
    width:0;
}

.person .comp-maq-percent,
.person .comp-prog-percent,
.person .comp-des-percent {
    display:none;
    margin:0 auto;
    color:#000;
    text-align:right;
    padding-right:20px;
    font-size:12px;
}

.person:hover .person .competence-maquette .person .comp-maq-percent, 
.person2:hover, 
.person3:hover {
    display:inline-block;
}

@media only screen and (max-width: 1515px) {
    .person {
        width:300px;
    }
    
    .description img {
        width:100px;
    }
    
    .description-section-title {
        padding-bottom:20px;
    }
    
    .competences-zone {
        margin: 15px auto;
        width:95%;
    }
    
    .competence-title {
        font-size:11px;
        padding-right: 15px;
        height:20px;
        line-height: 20px;
        display:inline-block;
        margin:0;
    }
    
    .competence-maquette,
    .competence-programmation,
    .competence-design {
        height:20px;
        line-height: 20px;
    }
    
    .competence-barre {
        line-height:20px;
        display:inline-block;
        width:60%;
        float:right;
        border:1px solid #fff;
        height:20px;
    }
    .competence {
        height: 20px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 1202px) {
    .description {
        padding:35px;
    }
    
    .person {
        width:90%;        
    }
    
     .description img {
        width:70px; 
    }
    
    .person-about {
        font-size:80%;
        line-height: 1.5;
    }
    
    .competences-zone {
        margin: 15px auto;
        width:70%;
    }
    
    .competence-title {
        font-size:80%;
        padding-right: 10px;
    }
    
    .competence {
        text-align: left;

    }
    
    .person:nth-child(3) {
        margin:2% 0;
    }
    
    .competence-barre {
        width:70%;
        float:right;
        border:1px solid #fff;
        height:20px;
    }
}

    