/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
    Styles principaux
   ========================================================================== */

/* ===============
    Tags généraux
   =============== */

body {
    font: 300 17px 'Poppins', sans-serif;
    height: 200em;
    background: #F9F9F9;
}

button,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #000;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* ===============
    Header
   =============== */

.header-container {
    box-shadow: 0px 5px 12px -10px #747474;
    position: fixed;
    width: 100%;
    background: #F9F9F9;
    z-index: 999;
}

header {
    text-align: justify;
    height: 60px;
    padding: 20px 0;
    text-transform: uppercase;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header > div,
header > div::before,
header nav,
header > div h1 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header > div {
    height: 100%;
}

header > div::before {
    content: '';
    height: 100%;
}

header > div h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}

header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
    font-weight: 500;
    cursor: pointer;
}

header nav a:last-child {
    padding-right: 0;
}

header nav a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
 
header nav a:hover {
    color: #e74c3c;
}

.menu-btn {
    display: none;
    float: right;
    margin-top: 10px;
    width: 70px;
    height: 40px;
    border: none;
    text-transform: uppercase;
    background: #EAEAEA;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.menu-btn:focus {
    outline: 0;
}

/* ===============
    Partie principale
   =============== */

/* Intro */

.intro {
    background: url(../img/intro.jpg);
    background-size: cover;
    background-position: 50%;
    height: 800px;
    height: 100vh;
}

.intro-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.intro-text {
    font-weight: 500;
    font-size: 4em;
    color: #171717;
    text-shadow: 0 0 25px #D6D6D6;
}

.intro-description {
    font-size: 21px;
    text-shadow: 0 0 10px #FFF;
}

/* Notre travail */

.our-work {
    background: #DF554F;
    color: #fff;
}

.our-work h2 {
    margin: 0;
}

.our-work img {
    width: 200px;
    float: left;
    padding: 15px 30px 0 0;
}

.our-work-textzone {
    padding: 50px 0;
}

.our-work-text {
    margin: 0;
    text-align: justify;
}

/* Nos réalisations */



/* ===============
    Footer
   =============== */

.footer-container {
    background: #3E4651;
}

footer {
    
}

/* ===============
    Fix IE
   =============== */

.ie7 .header-title {
    padding-top: 20px;
}

/* ==========================================================================
    Media Queries
   ========================================================================== */

@media only screen and (max-width: 1140px) {

}

@media only screen and (max-width: 768px) {
    header {
        padding: 0;
    }
    
    header nav {
        position: fixed;
        width: 100%;
        left: 0;
        background: #F9F9F9;
        padding: 0.5em 10px;
        display: none;
        opacity: 0;
        border-top: 1px solid #6F6F6F;
        box-shadow: 0px 5px 12px -10px #747474;
    }
    
    header nav a {
        padding: 0.5em 5%;
        display: block;
    }
    
    .menu-btn {
        display: block;
    }
    
    .menu-shown {
        -webkit-animation: .2s showMenu forwards;
        animation: .2s showMenu forwards;
    }
    
    .menu-hidden {
        -webkit-animation: .2s hideMenu forwards;
        animation: .2s hideMenu forwards;
    }
    
    .intro-text {
        font-size: 9vw;
    }
    
    .our-work-text {
        font-size: calc(1vw + 10px);
    }
    
    .our-work img {
        width: 24%;
        padding: 11px 15px 0 0;
    }
}

@media only screen and (max-width: 530px) {
    
}

@media only screen and (max-width: 480px) {
    .our-work-text {
        text-align: left;
    }
    
    .our-work-textzone {
        padding: 20px 0;
    }
}

/* ==========================================================================
    Keyframes
   ========================================================================== */

@-webkit-keyframes showMenu {
    0% {
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0);
        opacity: 0;
    }   
    
    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@keyframes showMenu {
    0% {
        -webkit-transform: translate3d(0,-30px,0);
        transform: translate3d(0,-30px,0);
        opacity: 0;
    }   
    
    100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@-webkit-keyframes hideMenu {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }   
    
    100% {
        -webkit-transform: translate3d(0,30px,0);
        transform: translate3d(0,30px,0);
        opacity: 0;
    }
}

@keyframes hideMenu {
    0% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
    }   
    
    100% {
        -webkit-transform: translate3d(0,30px,0);
        transform: translate3d(0,30px,0);
        opacity: 0;
    }
}

/* ==========================================================================
    Classes d'aide
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.blurfix {
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    
    -webkit-transform: translate3d(0,0,0);
    
    transform: translate3d(0,0,0);
    
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
}