html, body{
    background-color : #efefef;
    font-family: "Source Sans pro";
    font-size:14px;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

#page{
    width:1000px;
    height:100%;
    display:block;
    margin:auto;
    padding:0;
}

.banniere{
    height:150px;
}

.infobanniere{
    background: #21b237; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #21b237 0%, #23bc2e 100%, #23bc2e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#21b237), color-stop(100%,#23bc2e), color-stop(100%,#23bc2e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,#21b237 0%,#23bc2e 100%,#23bc2e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,#21b237 0%,#23bc2e 100%,#23bc2e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,#21b237 0%,#23bc2e 100%,#23bc2e 100%); /* IE10+ */
    background: linear-gradient(135deg,#21b237 0%,#23bc2e 100%,#23bc2e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin:0;
    text-transform:uppercase;
}

.textinfobanniere{
    padding: 3px 7px 3px 7px;
    font-size:12px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
li{
    display:inline;
}

#nav{
    width:100%;
    margin-top:20px;
    background-color:#515151;

    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
ul{

    list-style-type: none;
    padding:10px;
    margin:0;
    text-align:center;
}

.navlink{
    margin-left:15px;
    background-color:#515151;
    padding:10px;
    color:#ffffff;
    font-weight: bold;
    text-transform:uppercase;
}
.navlink:hover{
    color:#22e8bc;
    text-decoration: none;
}

.currnavlink{
    background-color: #515151;
    padding:10px;
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#75a1e6;
    text-transform:uppercase;
    font-weight:bold;
}
.currnavlink:hover{
    text-decoration:none;
}
#introbox
{
    background-color:#22e8bc;
    margin:0;
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.introtext{
    padding:5px;
    margin:0;
    font-size:12px;
    text-align:center;

}

#content{
    margin-top:20px;
    border: 1px solid #dedede;
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.aboutbox{
    width:95%;
    display:block;
    margin:auto;
    padding:0;
}

.aboutbox h1{
    text-align:center;
    text-transform:uppercase;
    font-size:18px;
    color:#1bbd99;
    padding:0;
}

.aboutbox p{
    text-align:justify;
}

.aboutbox span{
    font-weight: bold;
    color:#4F4F4F;
    margin-left:173.5px;
}

.separator{
    display:block;
    margin:30px auto 30px auto;
    border-top:1px solid #4F4F4F;
    width:40%;
    opacity: 0.2;
    padding:0;


}

.textbox {
    border-color:#cccccc;
    border-style:solid;
    padding:4px;
    font-size:19px;
    border-width:2px;
    border-radius:4px;
    width:400px;
    margin-left:100px;

}

.textbox {
    outline:none;
}